<img src="http://hollybrosnahan.com/wp-content/uploads/2012/10/VentureLogo.jpg" class="img-responsive" alt="Responsive image" width="25%">



{{outlet}}
<h6>copyright now.</h6>
<h6><a href='home'>Go to homepage here.</a></h6>