<br>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href='home'>Home</a></li>
  <li role="presentation"><a href='map'>Map</a></li>
  <li role="presentation"><a href='character'>Character</a></li>
</ul>

<h4>&nbsp;&nbsp;&nbsp;&nbsp;ven·ture- noun: a risky or daring journey or undertaking.</h4>
<div style= "border-width:5px; border-style:groove; width:75%; margin:auto;">Welcome to the world of Venture, a brand new game brought to you by the same people who haven't brought you any games so far. Visit and expand your forest to create your path, or check out your character profile above. Be prepared to enter into battles like never before, with creatures you can't imagine yet. Join this risky and dangerous journey through the forest, collecting what you can, and see how far you can make it. Join now for free.</div>


{{outlet}}